<h1>This is a Test Page</h1>
<div class="row">
	<div class="col-md-4">
		<h3 class="text-center">To Do</h3>
		<div class="panel panel-info">
			<div class="panel-heading">My To Do List</div>
			<div class="panel-body">These needs doing</div>
			<div class="panel-footer text-center">Doing</div>
		</div>
	</div>
	<div class="col-md-4">
		<h3 class="text-center">Doing</h3>
		<div class="panel panel-info">
			<div class="panel-heading">My Doing List</div>
			<div class="panel-body">These are being done</div>
			<div class="panel-footer text-center">Change State</div>
		</div>
	</div>
	<div class="col-md-4">
		<h3 class="text-center">Done</h3>
		<div class="panel panel-info">
			<div class="panel-heading">My Done List</div>
			<div class="panel-body">These are done</div>
			<div class="panel-footer text-center">Change State</div>
		</div>
	</div>
</div>